:root {
    --sf-green: #67f381;
    --sf-yellow: #ffea70;
    --sf-brown: #582d03;
}

.navBar {

    width: 100%;
    display: flex;
    justify-content: space-around;

}

.navBarItems {

    border-left: 2px solid #582d03;
    border-top: 2px solid #582d03;
    background-color: #594f15ff;
    border-bottom: 2px solid #582d03;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 12px; 
    border-top-right-radius: 12px;
}

.sectionActive .navBarItems {

    background-color: #ffea70;

}

.navBarItems:last-child {

    border-right: 2px solid #582d03;

}

.navBarWrapper {

    margin: 1em;
    
}

.section {

    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section svg {

    width: 30px;
    height: 30px;
    color: #48e765;
    transition: 500ms ease;

}

.sectionActive svg {

    width: 40px;
    height: 40px;

}

.section img {

    position: absolute;
    top: 50;
    z-index: -1;
    height: 120px;
    width: 120px;
    opacity: 0;
    transition: 500ms ease;
}

.sectionActive img {

    opacity: 1;
}




@media screen and (max-width: 23.5em) {
    .navBarItems {

        font-size: small;

    }
}