:root {
    --sf-green: #67f381;
    --sf-yellow: #ffea70;
    --sf-brown: #582d03;
    --sf-darkergreen: #2ea844;
    --sf-darkgreen: #48e765;
}

.navBar {

    width: 100%;
    display: flex;
    justify-content: space-around;

}

.navBarItems {

    border-left: 2px solid var(--sf-brown);
    border-top: 2px solid var(--sf-brown);
    background-color: var(--sf-brown);
    border-bottom: 2px solid var(--sf-brown);
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 12px; 
    border-top-right-radius: 12px;
    border-right: 2px solid var(--sf-brown);
}

.sectionActive .navBarItems {

    background-color: var(--sf-yellow);

}

.navBarWrapper {

    margin: 1em;
    
}

.section {

    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section svg {

    width: 30px;
    height: 30px;
    color: var(--sf-darkergreen);
    transition: 500ms ease;

}

.sectionActive svg {

    width: 40px;
    height: 40px;
    color: var(--sf-darkgreen);

}

.section img {

    position: absolute;
    top: 50;
    z-index: -1;
    height: 0px;
    width: 0px;
    transition: 300ms ease;
}

.sectionActive img {

    height: 120px;
    width: 120px;

}

@media screen and (max-width: 23.5em) {
    .navBarItems {

        font-size: small;

    }
}